.App {
  min-height: 100vh;
  font-size: 16px;
}

.App-header {
  text-align: center;
  font-size: 2em;
}

.App-blocks {
  display: flex;
  flex-direction: row;
}

.App-menu {
  width: 130px;
}

.App-content {
  flex-grow: 1;
}
